@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

.note-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.note-details-container h1 {
    font-size: 60px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}

.note-action-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.note-action-buttons button {
    font-family: 'Merriweather', serif;
    background-color: #0B3311;
    color: #f0f0f0;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    font-size: 20px;
}

.note-action-buttons button:hover {
    background-color: #AEAEAA;
}

.note-details-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.note-details-image img {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
}

.note-details-content {
    line-height: 1.6;
    text-align: left;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 25px;
}

.note-details-container .delete-modal {
    text-align: center;
    padding: 20px;
    background-color: #2d3a4b !important;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 400px !important;
    width: 90% !important;
    margin: 0 auto !important;
    position: relative !important;
}

.delete-modal p {
    font-size: 30px !important;
}

.delete-modal .modal-buttons {
    padding-top: 10px;
}

.delete-confirmation-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    margin-left: 150px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}


.delete-confirmation-button:hover {
    background-color: #c9302c;
}


.delete-cancel-button {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}


.delete-cancel-button:hover {
    background-color: #e0e0e0;
}


@media (min-width: 768px) {
    .note-details-container {
        padding-left: 250px;
        padding-right: 250px;
    }
}
