/* general form layout */
.character-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AEAEAA;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden !important;
    padding: 40px;
}

.character-form-wrapper h1 {
    text-align: center;
}

/* form sections */
.section {
    border: 1px solid #bdc3c7;
    padding: 20px;
    border-radius: 5px;
    background-color: #0B3311;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

/* image removal checkbox styling */
.image-removal {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* section headers */
.section h2 {
    grid-column: span 2;
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
    color: #ecf0f1;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 10px;
}

/* specific style for statistics section */
.stats {
    grid-template-columns: repeat(3, 1fr);
}

.stats h2 {
    grid-column: span 3;
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
    color: #ecf0f1;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 10px;
}

/* specific style for bonds section */
.bonds-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-content: center;

}

.bond-entry {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 20px;
    margin-bottom: 10px;

}

.add-bond-button {
    grid-column: 2;
    justify-self: start;
}

.bonds button {
    padding: 10px 20px;
    background-color: #41765A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.bonds button:hover {
    background-color: #AEAEAA;
}

/* specific style for skills section */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h2 {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
    color: #ecf0f1;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 10px;
}

.skills .skill-entry {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;
}

/* specific style for psych data section */
.psychological-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.psychological-data h2 {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
    color: #ecf0f1;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 10px;
}

.psychological-data .form-group {
    width: 80%;
    text-align: left;
}

/* specific style for weapons section */
.weapons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weapons h2 {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
    color: #ecf0f1;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 10px;
}

.weapon-entry {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-weapon-button {
    grid-column: 3;
    align-self: start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.delete-button {
    grid-column: 1 / span 2;
    align-self: start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.weapon-entry button {
    padding: 8px 16px;
    background-color: #AEAEAA;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.weapon-entry button:hover {
    background-color: #7a9e8b;
    color: #2c3e50;
}

.add-weapon-button button {
    padding: 10px 20px;
    background-color: #41765A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.add-weapon-button button:hover {
    background-color: #AEAEAA;
}

/* form group */
.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1rem;
    color: #bdc3c7;
}

/* input and textarea fields */
.form-group input,
.form-group textarea,
.form-group select {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    background-color: #bec0aa;
    color: #000000;
}

.form-group input:disabled {
    background-color: #7f8c8d;
    color: #bdc3c7;
    cursor: not-allowed;
    opacity: 0.6;
    border: 1px solid #95a5a6;
}

/* button styling */
.character-form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.character-save-button,
.character-cancel-button {
    padding: 10px 20px;
    background-color: #0B3311;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    width: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.character-save-button:hover,
.character-cancel-button:hover {
    background-color: #41765A;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .section {
        grid-template-columns: 1fr;
    }

    .form-group {
        grid-template-columns: 1fr;
    }

    .bond-entry,
    .weapon-entry {
        grid-template-columns: 1fr;
    }

    .skills .skill-entry {
        grid-template-columns: 1fr;
    }
}
