@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

.note-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AEAEAA;
    overflow: hidden !important;
}

.note-form-container {
    background-color: #0B3311;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    padding: 30px;
    margin: 24px;
    width: 650px;
}

.note-form-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
    color: #fffefe;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 600px;

}

.form-group label {
    display: block;
    font-size: 2rem !important;
    margin-bottom: 8px;
    color: #ffffff !important;
}

.form-group input[type="text"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #bdc3c7;
    font-size: 1.3rem;
    background-color: #bec0aa;
    color: #000000;
}

.input-error {
    border-color: #e74c3c;
}

.form-group.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group.checkbox-group label {
    margin-bottom: 0;
    font-size: 1.3rem;
}

.form-group.checkbox-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.error-message {
    color: #e74c3c;
    font-size: 0.9rem;
    margin-top: 5px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-save,
.btn-cancel {
    padding: 10px 20px;
    font-size: 1.6rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn-save {
    background-color: #41765A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.btn-save:hover {
    background-color: #AEAEAA;
    color: #ffffff;
    font-weight: bold;
}

.btn-cancel {
    background-color: #41765A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.btn-cancel:hover {
    background-color: #AEAEAA;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .note-form-container {
        padding: 20px;
    }

    .note-form-container h1 {
        font-size: 2rem;
    }

    .btn-save,
    .btn-cancel {
        width: 48%;
    }
}

@media screen and (max-width: 480px) {
    .note-form-container {
        padding: 15px;
    }

    .note-form-container h1 {
        font-size: 1.75rem;
    }

    .btn-save,
    .btn-cancel {
        width: 100%;
        margin-bottom: 10px;
    }
}
