.custom-quill-editor .ql-container {
    min-height: 300px;
    max-height: 600px;
    resize: vertical;
    overflow-y: auto;
    padding: 10px;
    position: relative;
    background-color: #bec0aa;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.custom-quill-editor .ql-container:focus-within .ql-editor.ql-blank::before {
    content: "";
}

.custom-quill-editor .ql-editor {
    color: #000000;
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 15px;
    background-color: transparent;
}

.custom-quill-editor .ql-editor.ql-blank::before {
    color: #000000;
    font-style: italic;
    content: attr(data-placeholder);
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 15px;
}

.custom-quill-editor .ql-tooltip {
    z-index: 1000;
    left: auto !important;
    right: 0;
}

.custom-quill-editor .ql-toolbar {
    background-color: #ffffff;
    border-bottom: 1px solid #bdc3c7;
    color: antiquewhite;
}

.custom-quill-editor .ql-toolbar .ql-picker-label,
.custom-quill-editor .ql-toolbar button {
    color: #071f25;
}

.custom-quill-editor .ql-toolbar button:hover {
    background-color: #b8d2e8;
}
