@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

.notes-page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.notes-page h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
}

.notes-page a {
    font-size: 20px;
    color: antiquewhite;
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
}

.notes-page a:hover {
    color: #52d0e1;
}
