.client-nav-welcome {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-style: italic;
}

.client-nav-search {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    font-size: 1em;
    box-sizing: border-box;
}

.client-nav-button {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    font-size: 1em;
    box-sizing: border-box;
}

.client-nav-section {
    margin-bottom: 20px;
}

.client-nav-section h3 {
    margin-bottom: 10px;
}

.client-nav-section ul {
    list-style: none;
    padding: 0;
    margin-left: 15px;
}

.client-nav-section ul li a {
    color: #fff;
    text-decoration: none;
}

.client-nav-logout {
    margin-top: 50px;
    padding: 10px;
    background-color: #3E1F47;
    border: none;
    color: white;
    cursor: pointer;
}

.search-bar {
    flex-grow: 1;
    max-width: 600px;
    text-align: center;
}

.search-bar input {
    width: 600px;
    padding: 10px;
    font-size: medium;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    background-color: #f0f8ff;
}

.search-bar input:focus {
    border-color: #bef4fa;
    background-color: #f0f8ff;
    outline: none;
}

.search-bar button {
    background-color: #EBEBEB;
    border: none;
    color: #5A7684;
    font-weight: bolder;
    cursor: pointer;
    padding: 10px 20px;
    margin: 15px 10px;
    border-radius: 30px;
    transition: background-color 0.9s ease, transform 0.7s ease;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.322);
}

.search-bar button:hover {
    background-color: #7395a7;
    transform: scale(1.05);
    color: white;
}
