.client-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 250px;
    color: #ffffff;
    overflow-x: hidden;
}

.client-info {
    padding: 20px;
    background-color: transparent;
}

.client-info h1 {
    text-align: center;
    font-size: 2em;
    color: #006466;
}

.client-main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    color: #000;
    max-width: calc(100% - 70px);
}
