@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* TOPNAV */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.menu-icon {
    cursor: pointer;
    font-size: 1.5em;
    color: #41765A;
}

.top-nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.top-nav-links a {
    color: #0B3311;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
}

.top-nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #41765A;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.top-nav-links a:hover::after {
    width: 100%;
}

.top-nav-links a:hover {
    color: rgb(214, 211, 224);
}

.top-nav-links a.active {
    color: #8dd1ad;
}

/* SIDEBAR & SEARCHBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #0B3311;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.async-search {
    flex-grow: 1;
    max-width: 600px;
    text-align: center;
}

.search-bar input {
    width: 600px;
    padding: 10px;
    font-size: medium;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    background-color: #cfcfcd;
    font-family: Arial, Helvetica, sans-serif;
}

.search-bar input:focus {
    border-color: #41765A;
    background-color: #ffffff;
    outline: none;
}

.async-search button {
    background-color: #EBEBEB;
    border: none;
    color: #41765A;
    font-weight: bolder;
    cursor: pointer;
    padding: 10px 20px;
    margin: 15px 10px;
    border-radius: 30px;
    transition: background-color 0.9s ease, transform 0.7s ease;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.322);
}

.async-search button:hover {
    background-color: #41765A;
    transform: scale(1.05);
    color: white;
}

.search-result-button {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow-x: hidden;
    padding: 10px;
}

.search-result-button:hover {
    background-color: #e0e0e0;
}

.async-typeahead {
    width: 100%;
    max-width: 300px;
}

.rbt-loader {
    background-color: rgba(65, 118, 90, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.rbt-menu a.dropdown-item.disabled {
    background-color: #f8f8f8;
    color: #666;
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
    text-align: center;
    margin-top: 5px;
    border: 1px solid #ddd;
}

@media (max-width: 768px) {
    .async-typeahead .rbt-menu {
        max-width: 90%;
        padding: 5px;
    }

    .search-result-button {
        font-size: 0.9rem;
    }
}


/* hide TopNav links on smaller screens */
@media (max-width: 1024px) {
    .top-nav-links {
        display: none;
    }
}
