@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bg-image {
    background-color: #006466;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            rgba(27, 58, 75, 0.7),
            rgba(33, 47, 69, 0.7) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    background: none;
    color: #ffffff;
    text-align: center;
    z-index: 3;
    animation: fadeIn 2s ease-in-out;
}

.landing-card {
    text-align: center;
    max-width: 1000px;
    color: white;
    position: relative;
    z-index: 3;
}

.gradient-line {
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #1B3A4B, #4D194D);
    margin-top: 50px;
}

.landing-name {
    font-size: 6.9em;
    font-style: italic;
    font-weight: bold;
    color: white;
    margin: 0 0 20px;
    text-shadow:
        -2px -2px 0 #000,
        1px -2px 0 #000,
        -2px 1px 0 #000,
        1px 1px 0 #000;
}

.landing-description {
    font-size: 2.5em;
    color: #c7c7c7;
    margin-bottom: 40px;
    line-height: 1.5;
    text-shadow:
        -2px -2px 0 #000,
        1px -2px 0 #000,
        -2px 1px 0 #000,
        1px 1px 0 #000;

}

.landing-description a {
    color: #2ba2a4;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.landing-button {
    background: linear-gradient(90deg, #006466, #065A60);
    border: 2px solid;
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: background 0.5s ease, color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.landing-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    transform: skewX(-25deg);
}

@keyframes shiny {
    0% {
        left: -75%;
    }

    100% {
        left: 125%;
    }
}

.landing-button:hover {
    background: linear-gradient(90deg, #1B3A4B, #4D194D);
    color: white;
    border: 2px solid;
}

.landing-button:hover::before {
    animation: shiny 0.75s forwards;
}

.landing-button:active {
    background: linear-gradient(90deg, #144552, #272640);
    transform: scale(0.98);
}


/*TABLET MEDIA STYLING*/
@media (max-width: 1024px) {
    .landing-card {
        max-width: 400px;
        padding: 20px;
    }

    .landing-name {
        font-size: 2.5em;
    }

    .landing-description {
        font-size: 1em;
    }

    .landing-button {
        padding: 12px 25px;
        font-size: 14px;
    }
}

/*MOBILE MEDIA STYLING*/
@media (max-width: 768px) {
    .landing-card {
        max-width: 300px;
        padding: 15px;
    }

    .landing-name {
        font-size: 2em;
    }

    .landing-description {
        font-size: 0.9em;
    }

    .landing-button {
        padding: 10px 20px;
        font-size: 12px;
    }

    .gradient-line {
        margin-top: 30px;
    }
}
