/* base styles */

html {
    font-size: 10px;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 9.375px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 9.375px;
    }
}

html,
body {
    height: 100%;
}

body {
    background: #141515;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #767676;
    margin: 0;
    padding: 0;
}

/* anchor links */

a,
a:visited {
    color: #0087cc;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    color: #39b54a;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6,
.h01,
.h02,
.h03,
.h04,
.h05,
.h06 {
    font-family: Arial, Helvetica, sans-serif;
    color: #151515;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-bottom: 2.4rem;
}

h3,
.h03,
h4,
.h04 {
    margin-bottom: 1.5rem;
}

h5,
.h05,
h6,
.h06 {
    margin-bottom: 1.2rem;
}

h1,
.h01 {
    font-size: 3.1rem;
    line-height: 1.35;
    letter-spacing: -.1rem;
}

@media only screen and (max-width: 600px) {

    h1,
    .h01 {
        font-size: 2.6rem;
        letter-spacing: -.07rem;
    }
}

h2,
.h02 {
    font-size: 2.4rem;
    line-height: 1.25;
}

h3,
.h03 {
    font-size: 2rem;
    line-height: 1.5;
}

h4,
.h04 {
    font-size: 1.7rem;
    line-height: 1.76;
}

h5,
.h05 {
    font-size: 1.4rem;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

h6,
.h06 {
    font-size: 1.3rem;
    line-height: 1.85;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

p img {
    margin: 0;
}

p.lead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
    line-height: 1.857;
    color: #838383;
    margin-bottom: 3.6rem;
}

@media only screen and (max-width: 768px) {
    p.lead {
        font-size: 2rem;
    }
}

em,
i,
strong,
b {
    font-size: 1.6rem;
    line-height: 1.875;
    font-style: normal;
    font-weight: normal;
}

em,
i {
    font-family: Arial, Helvetica, sans-serif;
}

strong,
b {
    font-family: Arial, Helvetica, sans-serif;
}

small {
    font-size: 1.1rem;
    line-height: inherit;
}

blockquote {
    margin: 3rem 0;
    padding-left: 5rem;
    position: relative;
}

blockquote:before {
    content: "\201C";
    font-size: 10rem;
    line-height: 0px;
    margin: 0;
    color: rgba(0, 0, 0, 0.3);
    font-family: arial, sans-serif;
    position: absolute;
    top: 3.6rem;
    left: 0;
}

blockquote p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    font-size: 1.9rem;
    line-height: 1.895;
}

blockquote cite {
    display: block;
    font-size: 1.3rem;
    font-style: normal;
    line-height: 1.615;
}

blockquote cite:before {
    content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
    color: #838383;
    border: none;
}

abbr {
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: .05rem;
    color: #838383;
}

var,
kbd,
samp,
code,
pre {
    font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

pre {
    padding: 2.4rem 3rem 3rem;
    background: #F1F1F1;
}

code {
    font-size: 1.4rem;
    margin: 0 .2rem;
    padding: .3rem .6rem;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 3px;
}

pre>code {
    display: block;
    white-space: pre;
    line-height: 2;
    padding: 0;
    margin: 0;
}

pre.prettyprint>code {
    border: none;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
    text-decoration: none;
}

mark {
    background: #FFF49B;
    color: #000;
}

hr {
    border: solid rgba(0, 0, 0, 0.1);
    border-width: 1px 0 0;
    clear: both;
    margin: 2.4rem 0 1.5rem;
    height: 0;
}

/* lists */

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    display: list-item;
}

ol,
ul {
    margin-left: 1.7rem;
}

ul li {
    padding-left: .4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: .6rem 0 .6rem 1.7rem;
}

ul.disc li {
    display: list-item;
    list-style: none;
    padding: 0 0 0 .8rem;
    position: relative;
}

ul.disc li::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #39b54a;
    position: absolute;
    left: -17px;
    top: 11px;
    vertical-align: middle;
}

dt {
    margin: 0;
    color: #39b54a;
}

dd {
    margin: 0 0 0 2rem;
}

/* random spacing */

button,
.button {
    margin-bottom: 1.2rem;
}

fieldset {
    margin-bottom: 1.5rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.fluid-video-wrapper,
.ss-custom-select {
    margin-bottom: 3rem;
}

/* floated image */

img.pull-right {
    margin: 1.5rem 0 0 3rem;
}

img.pull-left {
    margin: 1.5rem 3rem 0 0;
}

/* block grid padding */

.bgrid {
    padding: 0 20px;
}


@media only screen and (max-width: 1024px) {
    .bgrid {
        padding: 0 18px;
    }
}

@media only screen and (max-width: 768px) {
    .bgrid {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 600px) {
    .bgrid {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 400px) {
    .bgrid {
        padding: 0;
    }
}

/* tables */

table {
    border-width: 0;
    width: 100%;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

th,
td {
    padding: 1.5rem 3rem;
    text-align: left;
    border-bottom: 1px solid #E8E8E8;
}

th {
    color: #151515;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    line-height: 1.5;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* buttons */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    height: 5.4rem;
    line-height: calc(5.4rem - .6rem);
    padding: 0 3rem;
    margin: 0 .3rem 1.2rem 0;
    color: #222222;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: .5rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #c5c5c5;
    border: .3rem solid #c5c5c5;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    background-color: #b8b8b8;
    border-color: #b8b8b8;
    color: #000000;
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    background-color: #0B3311;
    border-color: #0B3311;
    color: #FFFFFF;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    background: #0B3311;
    border-color: #ffffff;
}

button.full-width,
.button.full-width {
    width: 100%;
    margin-right: 0;
}

button.medium,
.button.medium {
    height: 5.7rem !important;
    line-height: calc(5.7rem - .6rem) !important;
}

button.large,
.button.large {
    height: 6rem !important;
    line-height: calc(6rem - .6rem) !important;
}

button.stroke,
.button.stroke {
    background: transparent !important;
    color: #a5a5a5 !important;
}

button.stroke:hover,
.button.stroke:hover {
    color: #41765A;
}

button.pill,
.button.pill {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    border-radius: 1000px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* common theme styles */

h1.intro-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.4rem;
    line-height: 1.324;
    color: #151515;
    position: relative;
    padding-bottom: 3.6rem;
}

h1.intro-header::before {
    display: block;
    content: "";
    height: 2px;
    width: 70px;
    background-color: #4be166;
    position: absolute;
    left: 0;
    bottom: 0;
}

.wide {
    max-width: 1300px;
}

.narrow {
    max-width: 800px;
}

@media only screen and (max-width: 768px) {
    h1.intro-header {
        font-size: 3.1rem;
    }
}

@media only screen and (max-width: 600px) {
    h1.intro-header {
        font-size: 2.6rem;
    }
}
