@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.signup-modal-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    font-family: 'Cinzel', serif;
}

.signup-form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Cinzel', serif;
}

.signup-form-modal {
    display: flex;
    flex-direction: column;
    font-family: 'Cinzel', serif;
}

.signup-form-modal label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    font-family: 'Cinzel', serif;
}

.signup-form-modal input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
    font-family: 'Cinzel', serif;
}

.signup-form-modal input:focus {
    border-color: #0066cc;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
}

.signup-form-errors {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    min-height: 18px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.signup-form-title {
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Cinzel', serif;
    color: #212F45;
}

.signup-submit {
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Cinzel', serif;
}

.signup-submit:hover {
    background-color: #004a99;
}

.signup-submit:disabled {
    background-color: #ddd;
    color:#868788;
    cursor: not-allowed;
}

.signup-submit:disabled:hover {
    background-color: #ddd;
    color:#868788;
    cursor: not-allowed;
}


.signup-image-section {
    flex: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 8px 8px 0;
}

@media (max-width: 768px) {
    .signup-modal-container {
        flex-direction: column;
        max-width: 100%;
    }

    .signup-image-section {
        height: 200px;
    }

    .signup-image-section img {
        height: 100%;
        object-fit: cover;
    }
}
