@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

.character-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 40px;
    max-width: 1200px;
    margin: auto;
}

.character-details-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}

.character-details-container p {
    font-size: 17px;
    font-family: 'Merriweather', serif;
}

.delta-green-character-details {
    margin-bottom: 40px;
    background-color: #0B3311;
    padding: 20px;
    border-radius: 10px;
}

.delta-green-character-details h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
    font-size: 40px;
    color: antiquewhite;
}

.delta-green-character-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-bottom: 50px;
}

.character-sections-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    background-color: #0B3311;
}

.character-section {
    flex: 1 1 45%;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.character-section h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: antiquewhite;
}

.character-section ul {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    font-family: 'Merriweather', serif;
}

.character-section ul li {
    margin-bottom: 10px;
    text-align: center;
}

.character-action-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.character-action-buttons button {
    background-color: #0B3311;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.character-action-buttons button:hover {
    background-color: #AEAEAA;
}

.character-details-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.character-details-image img {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.character-details-container .delte-modal {
    text-align: center;
    padding: 20px;
    background-color: #2d3a4b !important;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 400px !important;
    width: 90% !important;
    margin: 0 auto !important;
    position: relative !important;
}

.delete-modal p {
    font-size: 30px !important;
}

.delete-modal .modal-buttons {
    padding-top: 10px;
}

.delete-confirmation-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    margin-left: 150px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}


.delete-confirmation-button:hover {
    background-color: #c9302c;
}


.delete-cancel-button {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}


.delete-cancel-button:hover {
    background-color: #e0e0e0;
}



@media (max-width: 768px) {
    .delta-green-character-grid {
        grid-template-columns: 1fr;
    }

    .character-sections-flex {
        flex-direction: column;
    }

    .character-section {
        flex: 1 1 100%;
        min-height: auto;
    }
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
