.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(104, 104, 104);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  padding: 15px;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

/* navigation List */
.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin-left: 50px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link a {
  color: #051f21;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #380b61;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #363738 !important;
}

.nav-link.active {
  color: #051f21;
}

.nav-button {
  background-color: #006466;
  color: white;
  border: none;
  margin-right: 60px;
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-button:hover {
  transform: translateY(-3px);
  background-color: #363738;
}

.nav-button:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .nav-link {
    font-size: 14px;
    margin-left: 10px;
  }

  .nav-button {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 14px;
  }

  .nav-list {
    padding: 0;
    justify-content: space-between;
  }
}
