/*NAVBAR STYLING*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #a855f7;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: rgb(214, 211, 224);
}

@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column;
    background-color: rgba(33, 47, 69, 0.9);
    width: 100%;
    padding: 10px 0;
  }
  .navbar-nav .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


/*PROFILE BUTTON STYLING*/
.profile-container {
  position: relative;
}

.profile-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 2rem;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(70, 11, 74, 0.55);
  z-index: 1000;
  width: 80px;
}

.profile-dropdown li {
  list-style: none;
  padding: 8px 0;
  color: white;
  width: 100%;
  text-align: center;
}

.profile-dropdown li button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
}

.profile-dropdown li button:hover {
  color: #a855f7;
}

.profile-menu-item {
  background: #344767;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  margin-bottom: 10px;
}

.profile-menu-item:hover {
  background: #144552;
  transform: scale(1.05);
}

.profile-menu-item:focus {
  outline: none;
}

.profile-menu-item:last-child {
  margin-bottom: 0;
}
